.working-card {
    flex: 0 0 33%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__image img {
        width: 280px;
        height: 280px;
    }

    &__content {
        padding: 0 20px;

        &--title {
            font-weight: 700;
            font-size: 20px;
        }

        &--description {
            padding-top: 16px;
            font-weight: 400;
            font-size: 16px;
            color: #707070;
        }
    }
}